<%= form_with(model: post) do |form| %> 
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 10, class: "form-control m-2"%>
  </div>

  <div class="field form-group">
    <%= form.label :Categories %>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
      <% cb.label(class: "form-check-label mx-1")  {cb.check_box(class: "form-check-input mx-3") + cb.text} %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Post', class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>
