<h1>Categories#new</h1>
<p>Find me in app/views/categories/new.html.erb</p>

<%= form_with(model: @category) do |form| %> 
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @category.errors.each do |error| %>
          <li class="panel-error"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control m-2"%>
  </div>

  <div class="actions">
    <%= form.submit 'Create Post', class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>
